*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
pkg/

# Berkshelf
.vagrant
/cookbooks

# Bundler
Gemfile.lock
bin/*
.bundle/*

.kitchen/
.kitchen.local.yml
00-sample/log/capistrano.log
01-jekyll/log/capistrano.log
02-wordpress/log/capistrano.log
